<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="ccard.thesis.Indoor_Localization_and_Guidance"
          android:versionCode="1"
          android:versionName="1.0">
    <uses-sdk android:minSdkVersion="16"
            android:targetSdkVersion="18"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.USE_CREDENTIALS"/>
    <uses-feature android:name="android.hardware.camera" android:required="false"/>
    <uses-feature android:name="android.hardware.camera.autofocus" android:required="false"/>
    <uses-feature android:name="android.hardware.camera.front" android:required="false"/>
    <uses-feature android:name="android.hardware.camera.front.autofocus" android:required="false"/>
    <application android:label="@string/app_name" android:icon="@drawable/ic_launcher">
        <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version" />
        <activity android:name=".Frontend.MyActivity"
                  android:label="@string/app_name">

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".Frontend.Guidance"
                android:screenOrientation="portrait"
                android:theme="@android:style/Theme.Holo.Light.NoActionBar"/>
        <activity android:name=".Frontend.SettingsDialog"
                android:theme="@android:style/Theme.Holo.Dialog"/>
        <activity android:name=".Frontend.Uploading"
                android:theme="@android:style/Theme.Holo.Dialog"/>
        <activity android:name=".Frontend.Training"
                android:theme="@android:style/Theme.Holo.Light.NoActionBar"/>
        <service android:name=".Backend.Classes.DataBaseConnection"/>
    </application>
</manifest>
